*{
    margin: 0;
    box-sizing: border-box;
}
input[type=radio] {
    display: none;
 }

.wrapper{
    background: rgb(198, 224, 230);
    height: 100vh;
    padding: 2% 0;
}

.wrapper-content{
    background: rgba(132, 0, 255, 0.26);
    margin: 0 auto ;
    border-radius: 1%;
    height: 100%;
    width:50%;
    padding: 5% 7%;
}

.content{
    margin: 0 auto;
    height: 100%;;
    width: 100%;
    overflow: hidden;

}
.slider{
    display: flex;
    width: 500%;
    height: 70%;
}

.slide{
    height: 100%;
    width: 20%;
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.navigation{
    display: flex;
    justify-content: flex-end;
}

.bar:hover{
    background: #3f4041;
}

.bar:active{
    transition: 0.05;
    background: #f3f6f8;
}

.wrapepr-text{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}

.text-container{
width: 80%;
overflow: hidden;
}

.text-slide{
    display: flex;
    width: 500%;
    height: 100%;
}
.text{
    overflow: hidden;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 20%;
    color: rgba(0, 0, 0, 0.555);
    transition: margin-left 900ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    text-overflow:ellipsis;

}


.bar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius:100%;
    background-color: rgb(80, 108, 199);
    margin: 0 10px;
    border: solid 0.5rem rgb(181 166 236);;
    transition: all .4s ease;
    cursor: pointer;
 }

 .bar:hover{
    transition: 0.05s;
    background: rgb(108, 71, 240);
    transform: scale(1.1);
}

/* .bar:active{
    transition: 0.05;
    background: #5d23e4;
} */
.slide-img{
    background: rgba(132, 0, 255, 0.041);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3%;
    width: 100%;
    height: 100%;
}

.slide1{
    background-image: url(./img/doge.jpg);
}

.slide2{
    background-image: url(./img/pepe.png);
}

.slide3{
    background-image: url(./img/1de.jpg);
}

.slide4{
    background-image: url(./img/sb.jpg);
}

.slide5{
    background-image: url(./img/cat.jpg);
}
#r1:checked ~ .slider .s1{
    margin-left: 0;
}
#r2:checked ~ .slider .s1{
    margin-left: -20%;
}
#r3:checked ~ .slider .s1{
    margin-left: -40%;
}
#r4:checked ~ .slider .s1{
    margin-left: -60%;
}
#r5:checked ~ .slider .s1{
    margin-left: -80%;
}
#r1:checked ~ .wrapepr-text .text-container .text-slide .text:first-child{
    margin: 0;
}
#r2:checked ~ .wrapepr-text .text-container .text-slide .text:first-child{
    margin: -10%;
}
#r3:checked ~ .wrapepr-text .text-container .text-slide .text:first-child{
    margin: -20%;
}
#r4:checked ~ .wrapepr-text .text-container .text-slide .text:first-child{
    margin: -30%;
}
#r5:checked ~ .wrapepr-text .text-container .text-slide .text:first-child{
    margin: -40%;
}


#r1:checked ~ .wrapepr-text .navigation .bar:nth-child(1),
#r2:checked ~ .wrapepr-text .navigation .bar:nth-child(2),
#r3:checked ~ .wrapepr-text .navigation .bar:nth-child(3),
#r4:checked ~ .wrapepr-text .navigation .bar:nth-child(4),
#r5:checked ~ .wrapepr-text .navigation .bar:nth-child(5) {
    transition: 0.05;
    background: #5d23e4;
}